{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="card p-4">
    <div class="card-body">
        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary px-4" type="submit">{% trans 'Set Password' %}</button>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock %}
