[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
django-admin-honeypot = "*"
django-crispy-forms = "*"
django-otp = "*"
djangorestframework = "*"
django-environ = "*"
install = "*"
pinax-messages = "*"
django-fernet-fields = "*"
pyjwt = "*"
qrcode = {extras = ["pil"], version = "*"}
dataclasses = "*"
django = "*"
pillow = "*"
django-todo = "*"
bleach = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
psycopg2 = "*"
whitenoise = "*"
beautifulsoup4 = "*"
requests = "*"
xlrd = "==1.2.0"
django-iseries = {git = "https://github.com/onlysumitg/django-pyodbc-iseries.git"}
django-rosetta = "*"

[dev-packages]

[requires]
python_version = "3.9"
